openapi: 3.0.3
info:
  title: Makro Marketplace API
  description: API for the Makro marketplace integration - handles product stock and availability management
  version: 1.0.0
  contact:
    name: Makro Integration Team
    email: integration@makro.es

servers:
  - url: https://api.makro.es/v1
    description: Production Makro API server
  - url: https://api-staging.makro.es/v1
    description: Staging Makro API server

paths:
  /products:
    get:
      summary: List products in Makro
      description: Retrieve a paginated list of all products currently listed in Makro marketplace
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of products per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: status
          in: query
          description: Filter by product status
          required: false
          schema:
            type: string
            enum: [active, inactive, pending, rejected]
        - name: search
          in: query
          description: Search products by name or SKU
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MakroProduct'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /products/{id}/stock:
    put:
      summary: Update stock for a specific product
      description: Update the stock quantity for a specific product in Makro marketplace
      parameters:
        - name: id
          in: path
          required: true
          description: Makro product ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockUpdate'
      responses:
        '200':
          description: Stock updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /products/batch-stock:
    post:
      summary: Batch update stock for multiple products
      description: Update stock for multiple products in a single request for better performance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchStockUpdate'
      responses:
        '200':
          description: Batch update completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStockResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  

components:
  schemas:
    MakroProduct:
      type: object
      required:
        - id
        - name
        - sku
        - status
        - stock_quantity
        - is_available
        - price
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Makro product ID
          example: "MKRO-ALU-001"
        name:
          type: string
          description: Product name in Makro
          example: "Bandeja de aluminio profesional"
        sku:
          type: string
          description: Product SKU
          example: "BAN-ALU-001"
        status:
          type: string
          enum: [active, inactive, pending, rejected]
          description: Product status in Makro
          example: "active"
        stock_quantity:
          type: integer
          description: Current stock quantity
          example: 125
        is_available:
          type: boolean
          description: Whether product is available for sale
          example: true
        price:
          type: number
          format: float
          description: Product price
          example: 29.99
        category:
          type: string
          description: Product category in Makro
          example: "Utensilios de cocina"
        description:
          type: string
          description: Product description
          example: "Bandeja de aluminio resistente para uso profesional en cocina. Ideal para restaurantes y cocinas industriales."
        images:
          type: array
          items:
            type: string
            format: uri
          description: Product image URLs
          example: ["https://images.makro.es/products/bandeja-aluminio-1.jpg", "https://images.makro.es/products/bandeja-aluminio-2.jpg"]
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-20T14:45:00Z"

    StockUpdate:
      type: object
      required:
        - quantity
      properties:
        quantity:
          type: integer
          minimum: 0
          description: New stock quantity
          example: 150

    StockResponse:
      type: object
      required:
        - product_id
        - new_quantity
        - updated_at
      properties:
        product_id:
          type: string
          description: Makro product ID
          example: "MKRO-ALU-001"
        new_quantity:
          type: integer
          description: Updated stock quantity
          example: 150
        updated_at:
          type: string
          format: date-time
          description: Update timestamp
          example: "2024-01-20T16:30:00Z"

    BatchStockUpdate:
      type: object
      required:
        - updates
      properties:
        updates:
          type: array
          items:
            type: object
            required:
              - product_id
              - quantity
            properties:
              product_id:
                type: string
                description: Makro product ID
                example: "MKRO-ALU-001"
              quantity:
                type: integer
                minimum: 0
                description: New stock quantity
                example: 150
              reason:
                type: string
                description: Reason for stock update (optional)
                example: "Restock from supplier"
          example: [
            {
              "product_id": "MKRO-ALU-001",
              "quantity": 150,
              "reason": "Restock from supplier"
            },
            {
              "product_id": "MKRO-ALU-002", 
              "quantity": 75,
              "reason": "Inventory adjustment"
            }
          ]

    BatchStockResponse:
      type: object
      required:
        - processed
        - successful
        - failed
      properties:
        processed:
          type: integer
          description: Total number of updates processed
          example: 2
        successful:
          type: integer
          description: Number of successful updates
          example: 2
        failed:
          type: integer
          description: Number of failed updates
          example: 0
        results:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                example: "MKRO-ALU-001"
              success:
                type: boolean
                example: true
              error:
                type: string
                description: Error message if failed
                example: null
          example: [
            {
              "product_id": "MKRO-ALU-001",
              "success": true,
              "error": null
            },
            {
              "product_id": "MKRO-ALU-002",
              "success": true, 
              "error": null
            }
          ]


    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 50
        total_pages:
          type: integer
          description: Total number of pages
          example: 8
        total_items:
          type: integer
          description: Total number of items
          example: 375

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: "PRODUCT_NOT_FOUND"
        message:
          type: string
          description: Error message
          example: "Product with ID MKRO-ALU-001 was not found"
        details:
          type: object
          additionalProperties: true
          description: Additional error details
          example: {"requested_id": "MKRO-ALU-001", "available_ids": ["MKRO-ALU-002", "MKRO-ALU-003"]}
